<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

<div sec:authorize="isAuthenticated()">
    <a th:href="/logout">Logout</a>
</div>

<div sec:authorize="isAnonymous()">
    <a th:href="/login">Login</a>
    <a th:href="/registration">Registration</a>
</div>

<form action="/index" method="post">
    <input type="text" name="url">
    <input type="submit" value="Index!">
</form>

</body>
</html>